* {
  margin: auto;
  text-align: center;
  /* font-family: 'Noto Sans JP', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
}

html {
  height: 100%;
}

body {
  height: 100%;
  border-radius: 2em;
}

button {
  padding: auto;
}

.portrait {
  border-radius: 2em;
  max-width: 150px;
}


.icon {
  max-width: 50px;
}

p, h2 {
  padding-top: .1em;
}

.bio-item {
  max-width: 500px;
  padding:1em;
}

.about-description {
  max-width:550px;
  font-size: 1em;
}

.nav-link {
  font-size: 1.4em;
}

input, button {
  margin: .5em;
}